<head>
    <link type="text/css" rel="stylesheet" href="~/site.css" />
</head>

<body>

    @model Final_Project_ASP_MVC.Models.Admin
    @{
        ViewData["Title"] = "Admin Page";
    }

    <div class="container border" style="padding: 20px; width: 25em; background-color: #395B64; "  >

        <form method="post" asp-action="Individual" asp-controller="Admin" class="py-5">
            <div class="d-flex justify-content-center">
                <i class="icon-map-marker icon-4x text-success"></i>
            </div>
            <div class="d-flex justify-content-center">
                <h1 class="h3 mb-3 font-weight-normal" style="color: #FEFBF6;" >Please sign in</h1>
                <div class="text-danger"></div>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <input asp-for="@Model.UserName" class="form-control" placeholder="User Name" required />
                @Html.ValidationMessageFor(model => model.UserName)
                <span class="text-danger"></span>
            </div>
            <div class="form-group " style="margin-top: 20px;">
                <input asp-for="@Model.Password" class="form-control" placeholder="Password" type="password" required />
                @Html.ValidationMessageFor(model => model.Password)

                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <button style="margin-left:40%; margin-top:50px;" type="submit" class="btn btn-lg btn-success btn-block">Login</button>
            </div>
        </form>

    </div>
</body>

